body > * {
  font-family: sans-serif;
}

body {
  padding-left: 3rem;
  padding-right: 3rem;
}

img {
  max-width: 100%;
  display: block;
}

.cuisine {
  margin-right: 15px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-weight: bold;
  padding-top: 1rem;
}
nav > * {
  text-decoration: none;
}

footer {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-content: center;
}
.surpriseWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  button {
    width: 100%;
    padding: 0.5rem;
    border: none;
    background-color: green;
    color: white;
    cursor: pointer;
    border-radius: 5px;
  }
}
p {
  margin: 0;
}
h2 {
  font-size: 2rem;
}

.cardContainer {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
  width: 100%;
  gap: 1rem;
}
.card {
  width: fit-content;
  position: relative;
  background-color: rgb(238, 238, 238);
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  height: 425px;
  padding-bottom: 1rem;
  transition: transform 0.3s ease;
  h3,
  p {
    margin-left: 0.5rem;
  }
  .typeCard {
    color: #ff6247;
    font-weight: bold;
  }
  h3 {
    color: black;
  }
}
.card:hover {
  transform: scale(1.02);
  box-shadow: 0 5px 9px rgba(0, 0, 0, 0.1);
}

.restaurant-link {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}
.allRestaurantsSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.heart {
  position: absolute;
  top: 5%;
  left: 5%;
}
.wrapperMostPopularCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.mostPopularContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 1rem;
}
.filterBtnsWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.filterBtnsWrapper > * {
  background-color: #ff6247;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  padding: 1rem;
  font-weight: bold;
}
.cuisinesContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 1rem;
}
.cuisinesSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.cuisinesHomePage {
  text-align: center;
}
.imageCard {
  width: 300px;
  height: 300px;
  border-radius: 10px;
}
.favoritesWrapperCards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-direction: column;
  width: 80%;
}
.favoritesWrapperCards > * {
  width: 100% !important;
}
.favoritesWrapperCards > img {
  height: 100% !important;
  height: fit-content;
}
.favoritesWrapperCards > #cardLink {
  width: 100%;
}
.favoritesSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.imgIndividualPage {
  width: 100%;
  border-radius: 10px;
}
.individualPageContainer {
  p {
    margin-top: 1rem;
  }
}
.individualPageHeader {
  text-align: center;
}
.commentWrapper {
  margin-top: 2.5rem;
  background-color: rgb(238, 238, 238);
  padding: 1rem;
  border-radius: 10px;
  p {
    margin: 1rem;
  }
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  button {
    background-color: green;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
    margin-top: 0.5rem;
  }
}
form > * {
  width: 100%;
  cursor: pointer;
}
